@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPageBanner>
@using Umbraco.Cms.Core.PublishedCache
@using Umbraco.Cms.Core.Routing
@using Umbraco.Cms.Core.Services.Navigation

@inject IPublishedContentCache PublishedContentCache
@inject IDocumentNavigationQueryService DocumentNavigationQueryService
@inject IPublishedUrlProvider PublishedUrlProvider

@{ 
    var selection = Model.Ancestors().ToArray(); 
}


<section class="relative bg-white-100 bg-no-repeat py-16">

    @* BACKGROUND IMAGES *@
    <div class="absolute bottom-0 left-0 shrink-0 pointer-events-none">
        <img src="~/images/LeftPageHeaderImage.svg" alt="">
    </div>

    <div class="absolute hidden xl:block top-0 right-0 pointer-events-none">
        <img src="~/images/RightPageHeaderImage.svg" alt="">
    </div>

    @* TITLE AND BREADCRUMBLINKS *@
    <div class="wrapper">
        <p class="text-primary text-[2.5rem] font-bold text-center">@Model.PageTitle</p>

        <div class="flex justify-center gap-3 pt-3">
            @if (selection?.Length > 0)
            {
                <ul class="flex items-center justify-center gap-2">
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        <li class="flex items-center justify-center">
                            <a class="text-sm no-underline text-primary hover:text-secondary" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                            <i class="fa-solid fa-chevron-right text-primary ml-1 flex items-center justify-center text-[.5rem] leading-none"></i>
                        </li>
                    }

                    <li class="flex items-center justify-center">
                        <p class="text-sm text-secondary">@Model.Name</p>
                    </li>
                </ul>
            }
        </div>

    </div>
</section> 

