<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aea20e9f-c746-405f-9a6b-358233665c6c" Alias="questionFormSubmissions" Level="2">
  <Info>
    <Name>Question Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b6290f61-9328-4632-a0ed-e5ba76ef88dd" SortOrder="0">questionFormRequest</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>