<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="909cf5e5-afce-4351-8656-4492abecaa02" Alias="supportFormSubmissions" Level="2">
  <Info>
    <Name>Support Form Submissions</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Forms</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="690388b1-eeab-43ef-9993-3a00da0969fc" SortOrder="0">supportFormRequests</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>