<?xml version="1.0" encoding="utf-8"?>
<Media Key="5792a18f-3d83-42b5-b398-7dfe714fa476" Alias="AaronLambert3.svg" Level="2">
  <Info>
    <Parent Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699">Team Members</Parent>
    <Path>/TeamMembers/AaronLambert3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:38</CreateDate>
    <NodeName Default="AaronLambert3.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/puodbnmy/aaronlambert3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>