<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae527e02-fad4-4acf-9ea5-b728c63e7481" Alias="AJCarter2.svg" Level="2">
  <Info>
    <Parent Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699">Team Members</Parent>
    <Path>/TeamMembers/AJCarter2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:38</CreateDate>
    <NodeName Default="AJCarter2.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4dbpatgp/ajcarter2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>