<?xml version="1.0" encoding="utf-8"?>
<Media Key="afa1dda3-7d64-46e4-8d04-5de11c9759ee" Alias="Assurance&amp;Audits.svg" Level="2">
  <Info>
    <Parent Key="8337863e-595a-4298-b87c-aaaa70ebc0eb">Servics Card Images</Parent>
    <Path>/ServicsCardImages/AssuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:39:21</CreateDate>
    <NodeName Default="Assurance&amp;Audits.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kfqagtl5/assuranceaudits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>