<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c1b598e-f0de-4281-8dee-07f88e9ea59b" Alias="Bonds&amp;Commodities.svg" Level="2">
  <Info>
    <Parent Key="8337863e-595a-4298-b87c-aaaa70ebc0eb">Servics Card Images</Parent>
    <Path>/ServicsCardImages/BondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:39:21</CreateDate>
    <NodeName Default="Bonds&amp;Commodities.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ptslt1wf/bondscommodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>