<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7ffcd53-5973-4183-8625-a2a518e3a08e" Alias="BrandonKerr5.svg" Level="2">
  <Info>
    <Parent Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699">Team Members</Parent>
    <Path>/TeamMembers/BrandonKerr5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:37</CreateDate>
    <NodeName Default="BrandonKerr5.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ufyf0jli/brandonkerr5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>