<?xml version="1.0" encoding="utf-8"?>
<Media Key="53d750d1-14c0-48da-814d-0747e70a3d8b" Alias="BrandonNewton1.svg" Level="2">
  <Info>
    <Parent Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699">Team Members</Parent>
    <Path>/TeamMembers/BrandonNewton1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:38</CreateDate>
    <NodeName Default="BrandonNewton1.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/epwhlmo1/brandonnewton1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>