<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3cd477a-f997-47f0-80bd-b7630dd3c7f0" Alias="Contact Info Section" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContactInfoSection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-11-08T09:33:45</CreateDate>
    <NodeName Default="Contact Info Section" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>