<?xml version="1.0" encoding="utf-8"?>
<Media Key="78310360-5d8e-4267-b9ba-58cb3d712be8" Alias="ContactInfoBgImageDots.svg" Level="2">
  <Info>
    <Parent Key="d3cd477a-f997-47f0-80bd-b7630dd3c7f0">Contact Info Section</Parent>
    <Path>/ContactInfoSection/ContactInfoBgImageDotssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T09:35:22</CreateDate>
    <NodeName Default="ContactInfoBgImageDots.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sk5jhguv/contactinfobgimagedots.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>