<?xml version="1.0" encoding="utf-8"?>
<Media Key="57c05bf5-13f2-4820-b48c-a2d1472a18ca" Alias="ContactInfoBgImageGreen.svg" Level="2">
  <Info>
    <Parent Key="d3cd477a-f997-47f0-80bd-b7630dd3c7f0">Contact Info Section</Parent>
    <Path>/ContactInfoSection/ContactInfoBgImageGreensvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-08T09:35:22</CreateDate>
    <NodeName Default="ContactInfoBgImageGreen.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a5tgfnpj/contactinfobgimagegreen.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>