<?xml version="1.0" encoding="utf-8"?>
<Media Key="0c0e8e20-ea62-41a4-8287-2313ee1c238f" Alias="FinancialAdvisor.svg" Level="2">
  <Info>
    <Parent Key="8337863e-595a-4298-b87c-aaaa70ebc0eb">Servics Card Images</Parent>
    <Path>/ServicsCardImages/FinancialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:39:20</CreateDate>
    <NodeName Default="FinancialAdvisor.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0izlz1tz/financialadvisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>