<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a84b29c-517a-4518-933d-d493372e543b" Alias="FossilGroupLogo6.svg" Level="2">
  <Info>
    <Parent Key="f54c8545-27d2-4968-b751-64f16ee87763">CompanyLogos</Parent>
    <Path>/CompanyLogos/FossilGroupLogo6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T09:54:02</CreateDate>
    <NodeName Default="FossilGroupLogo6.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nyhdncdb/fossilgrouplogo6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>