<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9db8a09-eadc-433c-8e68-ebdf79637a0f" Alias="HeroBgImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T10:04:11</CreateDate>
    <NodeName Default="HeroBgImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5m1hsc4h/herobgimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>