<?xml version="1.0" encoding="utf-8"?>
<Media Key="206b987e-dd3e-4018-a985-7417b26f336f" Alias="IconLinkedIn.svg" Level="2">
  <Info>
    <Parent Key="172d5681-7dc9-4476-b84d-62b0b0f3a389">social media</Parent>
    <Path>/socialMedia/IconLinkedInsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:10:56</CreateDate>
    <NodeName Default="IconLinkedIn.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rqsntqrf/iconlinkedin.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>