<?xml version="1.0" encoding="utf-8"?>
<Media Key="765200f9-b0ce-448d-a1b2-568217a64e00" Alias="IconTwitter.svg" Level="2">
  <Info>
    <Parent Key="172d5681-7dc9-4476-b84d-62b0b0f3a389">social media</Parent>
    <Path>/socialMedia/IconTwittersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:10:56</CreateDate>
    <NodeName Default="IconTwitter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bo4pbfgv/icontwitter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>