<?xml version="1.0" encoding="utf-8"?>
<Media Key="e82bb0f6-75aa-42f7-88b2-f30c85a27ac9" Alias="IconFacebook.svg" Level="2">
  <Info>
    <Parent Key="172d5681-7dc9-4476-b84d-62b0b0f3a389">social media</Parent>
    <Path>/socialMedia/IconFacebooksvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:10:56</CreateDate>
    <NodeName Default="IconFacebook.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aqgjscvr/iconfacebook.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>