<?xml version="1.0" encoding="utf-8"?>
<Media Key="83356adf-e08c-41a0-a0ca-d86c220dacfc" Alias="KevinGardner7.svg" Level="2">
  <Info>
    <Parent Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699">Team Members</Parent>
    <Path>/TeamMembers/KevinGardner7svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:37</CreateDate>
    <NodeName Default="KevinGardner7.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fxljoymx/kevingardner7.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>