<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cea5331-91b0-4219-b67f-382285c7b26a" Alias="LeftPageHeaderImage.svg" Level="2">
  <Info>
    <Parent Key="84e44f2d-1b73-456b-8475-403065460a5a">Page Header Images</Parent>
    <Path>/PageHeaderImages/LeftPageHeaderImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:10:27</CreateDate>
    <NodeName Default="LeftPageHeaderImage.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypxerdvl/leftpageheaderimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>