<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d7dbe7c-54c1-44da-acb2-035ef51a9bda" Alias="MirandaDayton6.svg" Level="2">
  <Info>
    <Parent Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699">Team Members</Parent>
    <Path>/TeamMembers/MirandaDayton6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:38</CreateDate>
    <NodeName Default="MirandaDayton6.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rybn5t40/mirandadayton6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>