<?xml version="1.0" encoding="utf-8"?>
<Media Key="03ab98e6-a97d-4d51-b244-dac30a411f6f" Alias="NaturalLogo3.svg" Level="2">
  <Info>
    <Parent Key="f54c8545-27d2-4968-b751-64f16ee87763">CompanyLogos</Parent>
    <Path>/CompanyLogos/NaturalLogo3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T09:54:01</CreateDate>
    <NodeName Default="NaturalLogo3.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cqsbtylg/naturallogo3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>