<?xml version="1.0" encoding="utf-8"?>
<Media Key="198cd93f-5e8a-4ce0-8442-6a7a3b5da8ec" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T07:10:14</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>