<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a180088-769c-43b3-8ccc-e68a68b86544" Alias="OnatrixLogo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixLogosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:04</CreateDate>
    <NodeName Default="OnatrixLogo.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pk4lu4eh/onatrixlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>