<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c8f4311-791b-4dc3-b02e-21300714b9e3" Alias="OurStoryTinaFox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OurStoryTinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T11:45:32</CreateDate>
    <NodeName Default="OurStoryTinaFox.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2p5c01qa/ourstorytinafox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>