<?xml version="1.0" encoding="utf-8"?>
<Media Key="84e44f2d-1b73-456b-8475-403065460a5a" Alias="Page Header Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PageHeaderImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T07:09:59</CreateDate>
    <NodeName Default="Page Header Images" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>