<?xml version="1.0" encoding="utf-8"?>
<Media Key="5671deb0-5c6f-4b0c-8927-7e1c2b38e103" Alias="Rating5stars.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Rating5starssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-07T13:55:38</CreateDate>
    <NodeName Default="Rating5stars.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ijrnhndu/rating5stars.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>