<?xml version="1.0" encoding="utf-8"?>
<Media Key="003ecc45-d659-4133-b759-9aafc34406ba" Alias="RightPageHeaderImage.svg" Level="2">
  <Info>
    <Parent Key="84e44f2d-1b73-456b-8475-403065460a5a">Page Header Images</Parent>
    <Path>/PageHeaderImages/RightPageHeaderImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:10:22</CreateDate>
    <NodeName Default="RightPageHeaderImage.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w3yjzysc/rightpageheaderimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>