<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e99bf9d-e010-4ceb-850f-dd0abf8dcdc1" Alias="ServiceDetailImage2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServiceDetailImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T11:02:11</CreateDate>
    <NodeName Default="ServiceDetailImage2.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n2bdxlal/servicedetailimage2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>