<?xml version="1.0" encoding="utf-8"?>
<Media Key="8337863e-595a-4298-b87c-aaaa70ebc0eb" Alias="Servics Card Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicsCardImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T14:38:50</CreateDate>
    <NodeName Default="Servics Card Images" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>