<?xml version="1.0" encoding="utf-8"?>
<Media Key="172d5681-7dc9-4476-b84d-62b0b0f3a389" Alias="social media" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/socialMedia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T07:10:48</CreateDate>
    <NodeName Default="social media" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>