<?xml version="1.0" encoding="utf-8"?>
<Media Key="179e108e-1af7-476a-bbe9-7a1523ee322f" Alias="SuccessStoryImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T15:16:42</CreateDate>
    <NodeName Default="SuccessStoryImage.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pswdz3pm/successstoryimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>