<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffdd57d9-f9b5-4d21-b9fc-ed3ffd2273ba" Alias="SuccessStoryBgImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SuccessStoryBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T15:16:37</CreateDate>
    <NodeName Default="SuccessStoryBgImage.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fpvh4hno/successstorybgimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>