<?xml version="1.0" encoding="utf-8"?>
<Media Key="c48c97d6-1be9-4431-8933-e531d2daa9ee" Alias="SupportCardEnvelope.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SupportCardEnvelopesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:09:35</CreateDate>
    <NodeName Default="SupportCardEnvelope.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eqvc2jxs/supportcardenvelope.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>