<?xml version="1.0" encoding="utf-8"?>
<Media Key="699243e5-5351-43e6-a48f-87d69f96b350" Alias="TaxAndTrusts.svg" Level="2">
  <Info>
    <Parent Key="8337863e-595a-4298-b87c-aaaa70ebc0eb">Servics Card Images</Parent>
    <Path>/ServicsCardImages/TaxAndTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:39:21</CreateDate>
    <NodeName Default="TaxAndTrusts.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c55dbc0k/taxandtrusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>