<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699" Alias="Team Members" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T07:11:28</CreateDate>
    <NodeName Default="Team Members" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>