<?xml version="1.0" encoding="utf-8"?>
<Media Key="19ebf378-c6b1-4468-a01d-5980a9beff45" Alias="TinaFoxSignature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TinaFoxSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-05T09:16:47</CreateDate>
    <NodeName Default="TinaFoxSignature.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rjhet43k/tinafoxsignature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>