<?xml version="1.0" encoding="utf-8"?>
<Media Key="b02d25be-9308-4d94-b55b-3878ec48d181" Alias="TinaFox4.svg" Level="2">
  <Info>
    <Parent Key="cd95dea0-8c4f-4cbe-b1ad-c9fa26354699">Team Members</Parent>
    <Path>/TeamMembers/TinaFox4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T07:11:38</CreateDate>
    <NodeName Default="TinaFox4.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jsmi4uqt/tinafox4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>