<?xml version="1.0" encoding="utf-8"?>
<Media Key="a18e5867-103b-4895-90fc-86a2c2428634" Alias="WeAreTrustedBgImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WeAreTrustedBgImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T12:08:45</CreateDate>
    <NodeName Default="WeAreTrustedBgImage.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sxsdyqza/wearetrustedbgimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>