<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba76e566-82e0-4619-a295-857413bf7389" Alias="WeAreTrustedImage.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WeAreTrustedImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-06T12:07:01</CreateDate>
    <NodeName Default="WeAreTrustedImage.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/srmniwh1/wearetrustedimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>