<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9acb9e10-f35f-466e-b792-162c9910f5fe" Alias="About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - CallbackRequestOptions - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>