<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abf77226-e7db-484f-9602-044d6f372214" Alias="Brand Logo List" Level="1">
  <Info>
    <Name>Brand Logo List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "bf9c14b1-801e-4866-bc19-5b40f5e3cf0c",
      "label": "{umbValue: brandName}"
    }
  ]
}]]></Config>
</DataType>