<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8a030db-3e28-4326-992c-14a3c6994ef8" Alias="Onatrix" Level="1">
  <Info>
    <Name>Onatrix</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "70ca1fb7-9953-43e1-b458-018a1e50acfa"
    },
    {
      "contentElementTypeKey": "d317e0de-7a06-4848-b9f4-4a390d1a856e",
      "settingsElementTypeKey": "cc38af1d-6e86-496d-9a0a-dae44880c1cc"
    },
    {
      "contentElementTypeKey": "25748589-85dd-4395-9349-6b9b02347c68",
      "settingsElementTypeKey": "d8a24f8d-b68b-4a5f-8572-117f8ae15c43"
    },
    {
      "contentElementTypeKey": "5486cc4d-a74c-4dfc-94ca-2908248cb11b",
      "label": "",
      "editorSize": ""
    },
    {
      "contentElementTypeKey": "e85c2e46-015b-4094-ada6-46286c797e9e"
    },
    {
      "contentElementTypeKey": "32431468-f5bd-435b-a590-1a0e4eb0f192"
    },
    {
      "contentElementTypeKey": "ca7c17d2-5ec2-4a68-9f18-50b798bd3008"
    },
    {
      "contentElementTypeKey": "899786ef-0a01-4223-b987-c3e73c5f8e08"
    },
    {
      "contentElementTypeKey": "2b5f2715-5bf3-4ab8-a9b0-6d06d0697dd0"
    },
    {
      "contentElementTypeKey": "5f2aaf5b-5bf9-4f03-ae2a-e0bd24df7a91",
      "settingsElementTypeKey": "8c0ac5f7-aafa-4efa-a56d-24560468590e"
    }
  ]
}]]></Config>
</DataType>