<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8a030db-3e28-4326-992c-14a3c6994ef8" Alias="Onatrix" Level="1">
  <Info>
    <Name>Onatrix</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "70ca1fb7-9953-43e1-b458-018a1e50acfa"
    }
  ]
}]]></Config>
</DataType>