<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ae57fc3f-af02-408d-8cff-9b9fa3dbfdf6" Alias="Service Detail - Asides list" Level="1">
  <Info>
    <Name>Service Detail - Asides list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0cb53e0a-1f82-4695-abba-0e144d377682"
    },
    {
      "contentElementTypeKey": "26a65dfc-2c50-4200-89af-091151e3da0f"
    }
  ]
}]]></Config>
</DataType>