<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dbac1a2-c5c3-45b6-aaa5-e6b243ce8e20" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "22d551c0-3793-4cae-96f8-0212264c7706",
      "label": "{umbValue: platformName}"
    }
  ]
}]]></Config>
</DataType>