<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f200e20a-b781-4a87-b3cf-9bd847513dd8" Alias="Success Story Section - Statistics list" Level="1">
  <Info>
    <Name>Success Story Section - Statistics list</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3a9d0c3f-7ff7-40cb-9471-5390c93303b9"
    }
  ]
}]]></Config>
</DataType>