<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db933963-3c5b-4825-82a2-cf35b7c91289" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "42461bf7-e935-4c1a-b6c7-66718ddeebb2",
      "label": "{umbValue: teamMemberName}"
    }
  ]
}]]></Config>
</DataType>