<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bb2ed19-060e-4dde-99f1-9a55a0da90e2" Alias="2025-11-11 15:10 - jessica@domain.com" Level="2">
  <Info>
    <Parent Key="14322bc7-534f-4f97-a4ed-fb91964611f4">Support Form Submissions</Parent>
    <Path>/SupportFormSubmissions/jessicaDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportFormRequest</ContentType>
    <CreateDate>2025-11-11T15:10:25</CreateDate>
    <NodeName Default="2025-11-11 15:10 - jessica@domain.com" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportFormRequestEmail>
      <Value><![CDATA[jessica@domain.com]]></Value>
    </supportFormRequestEmail>
  </Properties>
</Content>