<?xml version="1.0" encoding="utf-8"?>
<Content Key="c59f4d03-985b-44fd-b075-5a6921e1c109" Alias="2025-11-11 10:23 - Test2" Level="2">
  <Info>
    <Parent Key="e4633643-8c28-45dd-9863-8dc13abb83c1">Question Form Submissions</Parent>
    <Path>/QuestionFormSubmissions/Test2</Path>
    <Trashed>false</Trashed>
    <ContentType>questionFormRequest</ContentType>
    <CreateDate>2025-11-11T10:23:49</CreateDate>
    <NodeName Default="2025-11-11 10:23 - Test2" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormRequestEmail>
      <Value><![CDATA[test2@domain.com]]></Value>
    </questionFormRequestEmail>
    <questionFormRequestName>
      <Value><![CDATA[Test2]]></Value>
    </questionFormRequestName>
    <questionFormRequestQuestion>
      <Value><![CDATA[Fråga]]></Value>
    </questionFormRequestQuestion>
  </Properties>
</Content>