<?xml version="1.0" encoding="utf-8"?>
<Content Key="24dc999e-7bc4-4862-9fdf-b5aaf3218d58" Alias="2025-11-11 10:23 - Jessica" Level="2">
  <Info>
    <Parent Key="fb412ab0-3f52-4261-bc45-383ca6808cf2">Form Submissions</Parent>
    <Path>/FormSubmissions/Jessica</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T10:23:05</CreateDate>
    <NodeName Default="2025-11-11 10:23 - Jessica" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jessica@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jessica]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0730999999]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>