<?xml version="1.0" encoding="utf-8"?>
<Content Key="489d96b5-7de3-4b1b-8a50-8d7ca4531e06" Alias="2025-11-11 15:49 - Isabel@domain.com" Level="2">
  <Info>
    <Parent Key="14322bc7-534f-4f97-a4ed-fb91964611f4">Support Form Submissions</Parent>
    <Path>/SupportFormSubmissions/IsabelDomaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportFormRequest</ContentType>
    <CreateDate>2025-11-11T15:49:48</CreateDate>
    <NodeName Default="2025-11-11 15:49 - Isabel@domain.com" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportFormRequestEmail>
      <Value><![CDATA[Isabel@domain.com]]></Value>
    </supportFormRequestEmail>
  </Properties>
</Content>