<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cde456e-71ea-4266-803f-a82facb049a9" Alias="2025-11-10 15:44 - Alicia" Level="2">
  <Info>
    <Parent Key="e4633643-8c28-45dd-9863-8dc13abb83c1">Question Form Submissions</Parent>
    <Path>/QuestionFormSubmissions/Alicia</Path>
    <Trashed>false</Trashed>
    <ContentType>questionFormRequest</ContentType>
    <CreateDate>2025-11-10T15:44:55</CreateDate>
    <NodeName Default="2025-11-10 15:44 - Alicia" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormRequestEmail>
      <Value><![CDATA[Alicia@domain.com]]></Value>
    </questionFormRequestEmail>
    <questionFormRequestName>
      <Value><![CDATA[Alicia]]></Value>
    </questionFormRequestName>
    <questionFormRequestQuestion>
      <Value><![CDATA[Fråga fråga]]></Value>
    </questionFormRequestQuestion>
  </Properties>
</Content>