<?xml version="1.0" encoding="utf-8"?>
<Content Key="f80ab156-0dbc-4fd1-8134-273b3ec8bdf1" Alias="2025-11-11 15:17 - test2@domain.com" Level="2">
  <Info>
    <Parent Key="14322bc7-534f-4f97-a4ed-fb91964611f4">Support Form Submissions</Parent>
    <Path>/SupportFormSubmissions/test2Domaincom</Path>
    <Trashed>false</Trashed>
    <ContentType>supportFormRequest</ContentType>
    <CreateDate>2025-11-11T15:17:35</CreateDate>
    <NodeName Default="2025-11-11 15:17 - test2@domain.com" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <supportFormRequestEmail>
      <Value><![CDATA[test2@domain.com]]></Value>
    </supportFormRequestEmail>
  </Properties>
</Content>