<?xml version="1.0" encoding="utf-8"?>
<Content Key="49ee0cbc-4596-4426-ac0d-73b624cd06ec" Alias="2025-11-05 14:45 - Jessica Eriksson" Level="2">
  <Info>
    <Parent Key="fb412ab0-3f52-4261-bc45-383ca6808cf2">Form Submissions</Parent>
    <Path>/FormSubmissions/JessicaEriksson</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T14:45:57</CreateDate>
    <NodeName Default="2025-11-05 14:45 - Jessica Eriksson" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jessica@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jessica Eriksson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0730xxxxxx]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>