<?xml version="1.0" encoding="utf-8"?>
<Content Key="38fb464a-af48-412e-a8ed-1b8ba2c15d88" Alias="2025-11-05 14:59 - Joel Eriksson" Level="2">
  <Info>
    <Parent Key="fb412ab0-3f52-4261-bc45-383ca6808cf2">Form Submissions</Parent>
    <Path>/FormSubmissions/JoelEriksson</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-05T14:59:24</CreateDate>
    <NodeName Default="2025-11-05 14:59 - Joel Eriksson" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[joel@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Joel Eriksson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[07000000]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>