<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a1c5de6-0665-43d0-a1ad-91133bc2ffa0" Alias="2025-11-12 13:56 - Jessica Eriksson" Level="2">
  <Info>
    <Parent Key="fb412ab0-3f52-4261-bc45-383ca6808cf2">Form Submissions</Parent>
    <Path>/FormSubmissions/JessicaEriksson</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T13:56:58</CreateDate>
    <NodeName Default="2025-11-12 13:56 - Jessica Eriksson" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jessicahlqvist@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jessica Eriksson]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business ]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0730999999]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>