<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1e7adb6-023a-4569-951a-f0a3b43d4599" Alias="2025-11-11 15:18 - Jessica" Level="2">
  <Info>
    <Parent Key="e4633643-8c28-45dd-9863-8dc13abb83c1">Question Form Submissions</Parent>
    <Path>/QuestionFormSubmissions/Jessica</Path>
    <Trashed>false</Trashed>
    <ContentType>questionFormRequest</ContentType>
    <CreateDate>2025-11-11T15:18:10</CreateDate>
    <NodeName Default="2025-11-11 15:18 - Jessica" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionFormRequestEmail>
      <Value><![CDATA[jessica@domain.com]]></Value>
    </questionFormRequestEmail>
    <questionFormRequestName>
      <Value><![CDATA[Jessica]]></Value>
    </questionFormRequestName>
    <questionFormRequestQuestion>
      <Value><![CDATA[Fråga]]></Value>
    </questionFormRequestQuestion>
  </Properties>
</Content>