<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e3685b1-fcb0-466a-b3ee-f6c304e357a0" Alias="2025-11-12 14:01 - Jessica" Level="2">
  <Info>
    <Parent Key="fb412ab0-3f52-4261-bc45-383ca6808cf2">Form Submissions</Parent>
    <Path>/FormSubmissions/Jessica</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-12T14:01:10</CreateDate>
    <NodeName Default="2025-11-12 14:01 - Jessica" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[jessicahlqvist@hotmail.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Jessica]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0730999999]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>