<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7276a52-8b9e-47dd-a136-60053d9976a3" Alias="2025-11-10 11:58 - Isabel" Level="2">
  <Info>
    <Parent Key="fb412ab0-3f52-4261-bc45-383ca6808cf2">Form Submissions</Parent>
    <Path>/FormSubmissions/Isabel</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T11:58:43</CreateDate>
    <NodeName Default="2025-11-10 11:58 - Isabel" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[Isabel@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Isabel]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0730999999]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>