<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ccae175-d463-440a-bf5d-dc04e2f480b7" Alias="2025-11-11 15:51 - Janne" Level="2">
  <Info>
    <Parent Key="fb412ab0-3f52-4261-bc45-383ca6808cf2">Form Submissions</Parent>
    <Path>/FormSubmissions/Janne</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-11T15:51:00</CreateDate>
    <NodeName Default="2025-11-11 15:51 - Janne" />
    <SortOrder>4</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[janne@domain.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Janne]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Tax Planning]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[xxxxxxx]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>