<?xml version="1.0" encoding="utf-8"?>
<Content Key="47392447-774e-463e-98d1-dc9e7b2b3749" Alias="Assurance &amp; Audits" Level="3">
  <Info>
    <Parent Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74">Services</Parent>
    <Path>/Home/Services/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T14:41:29</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a080bf9-8890-4bdd-90dd-feffe47fbba7">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceBody>
      <Value><![CDATA[]]></Value>
    </serviceBody>
    <serviceCardImage>
      <Value><![CDATA[[
  {
    "key": "8b51b145-d271-489a-8029-5c4891161903",
    "mediaKey": "afa1dda3-7d64-46e4-8d04-5de11c9759ee",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </serviceCardTitle>
    <serviceDetailAsidesList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0cb53e0a-1f82-4695-abba-0e144d377682",
      "key": "8c80c3c6-f08b-4d79-b8ed-ab935e0d0217",
      "udi": null,
      "values": [
        {
          "alias": "asideSupportCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/, we are here to help you"
        },
        {
          "alias": "asideSupportCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "asideSupportCardBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "12c2f959-0349-4865-8a13-1cb55779aa99",
              "mediaKey": "c48c97d6-1be9-4431-8933-e531d2daa9ee",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "26a65dfc-2c50-4200-89af-091151e3da0f",
      "key": "c8b22859-c766-4acd-84e1-56d7983a7772",
      "udi": null,
      "values": [
        {
          "alias": "asideInfoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "asideInfoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "asideInfoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d48a5807-0d2a-4af3-93be-8c631f692ed8",
              "mediaKey": "dd51bfba-03e2-4289-a579-56117a6a9cc6",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8c80c3c6-f08b-4d79-b8ed-ab935e0d0217",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c8b22859-c766-4acd-84e1-56d7983a7772",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c8b22859-c766-4acd-84e1-56d7983a7772",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8c80c3c6-f08b-4d79-b8ed-ab935e0d0217",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsidesList>
  </Properties>
</Content>