<?xml version="1.0" encoding="utf-8"?>
<Content Key="56d33bd1-a007-4077-864d-d7c348c97188" Alias="Bonds &amp; Commodities" Level="3">
  <Info>
    <Parent Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74">Services</Parent>
    <Path>/Home/Services/BondsCommodities</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T14:41:08</CreateDate>
    <NodeName Default="Bonds &amp; Commodities" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a080bf9-8890-4bdd-90dd-feffe47fbba7">ServiceDetail</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </pageTitle>
    <serviceBody>
      <Value><![CDATA[]]></Value>
    </serviceBody>
    <serviceCardImage>
      <Value><![CDATA[[
  {
    "key": "07624f6c-8eef-447c-b6b4-baccf544324e",
    "mediaKey": "0c1b598e-f0de-4281-8dee-07f88e9ea59b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </serviceCardTitle>
    <serviceDetailAsidesList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "26a65dfc-2c50-4200-89af-091151e3da0f",
      "key": "5a839d03-07ff-4080-9ba2-96c57a850ff2",
      "udi": null,
      "values": [
        {
          "alias": "asideInfoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "asideInfoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "asideInfoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "dd30be19-350c-4ddc-904c-83253270b59f",
              "mediaKey": "dd51bfba-03e2-4289-a579-56117a6a9cc6",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0cb53e0a-1f82-4695-abba-0e144d377682",
      "key": "903c7a0e-3e68-45df-813c-ef09172b16a4",
      "udi": null,
      "values": [
        {
          "alias": "asideSupportCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "asideSupportCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/7, we are here to help you"
        },
        {
          "alias": "asideSupportCardBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "08ca8ac9-2505-4b25-80bb-d90909ddec61",
              "mediaKey": "c48c97d6-1be9-4431-8933-e531d2daa9ee",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5a839d03-07ff-4080-9ba2-96c57a850ff2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "903c7a0e-3e68-45df-813c-ef09172b16a4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5a839d03-07ff-4080-9ba2-96c57a850ff2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "903c7a0e-3e68-45df-813c-ef09172b16a4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsidesList>
  </Properties>
</Content>