<?xml version="1.0" encoding="utf-8"?>
<Content Key="382214a2-7199-46e3-9f89-9f43118c9378" Alias="Contact" Level="2">
  <Info>
    <Parent Key="71015e3b-ec08-4458-bafe-f9d27504d815">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T10:07:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29ed1a71-8bf9-427c-85d9-974619754ccb">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5f2aaf5b-5bf9-4f03-ae2a-e0bd24df7a91",
      "key": "24278c67-c102-46ce-984a-8c9ca8eafe3b",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1030c4ea-4e68-49ca-bd97-343603d953f4",
              "mediaKey": "2e2f0403-65c1-4c7b-9b09-fd29cf0819fb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBgImageDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1ba195d3-ef72-435a-b83d-e130cf952ab5",
              "mediaKey": "78310360-5d8e-4267-b9ba-58cb3d712be8",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBgImageGreen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38df87f9-dae6-4b13-9975-3f595c7f2c31",
              "mediaKey": "57c05bf5-13f2-4820-b48c-a2d1472a18ca",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    },
    {
      "contentTypeKey": "ca7c17d2-5ec2-4a68-9f18-50b798bd3008",
      "key": "28af3149-3ea8-4f63-9000-77c795011bfa",
      "udi": null,
      "values": [
        {
          "alias": "brandLogoList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "bf9c14b1-801e-4866-bc19-5b40f5e3cf0c",
                "key": "a0855937-b157-4f46-92ed-03b7300dc513",
                "udi": null,
                "values": [
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Freedom Bird"
                    ]
                  },
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "33a9f81a-6c57-4450-9e86-6858785cd4d2",
                        "mediaKey": "656029da-c3b0-4a5c-af23-5b61e7a0fdd7",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "bf9c14b1-801e-4866-bc19-5b40f5e3cf0c",
                "key": "ccb94987-624a-4f5b-b758-bcfb64649f59",
                "udi": null,
                "values": [
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Identity"
                    ]
                  },
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f5c32a04-bca3-4edd-86b7-db423a25b445",
                        "mediaKey": "39d5204f-e525-4d4d-bd05-e23f90f424bd",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "bf9c14b1-801e-4866-bc19-5b40f5e3cf0c",
                "key": "1efbab63-130a-4967-95d8-5209c681aab0",
                "udi": null,
                "values": [
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Natural"
                    ]
                  },
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6b9e1f6b-f2ba-46eb-b116-9ffc336fb300",
                        "mediaKey": "03ab98e6-a97d-4d51-b244-dac30a411f6f",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "bf9c14b1-801e-4866-bc19-5b40f5e3cf0c",
                "key": "4fccfcee-ba03-402d-acf9-84c6c1456fc5",
                "udi": null,
                "values": [
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Simpleaf"
                    ]
                  },
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6481a4b6-62be-44cc-a83e-de2ef3989fbf",
                        "mediaKey": "9b2c2a0e-3946-4e78-8910-e3ac654d5da3",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "bf9c14b1-801e-4866-bc19-5b40f5e3cf0c",
                "key": "b9f7d8d4-2765-4a36-ad06-cc7c08944e82",
                "udi": null,
                "values": [
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Globe"
                    ]
                  },
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0d2b6618-da61-4547-a773-e925d589f81d",
                        "mediaKey": "6015c70f-02df-4c44-8abc-6622404938ad",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "bf9c14b1-801e-4866-bc19-5b40f5e3cf0c",
                "key": "8e4b3f50-f55a-4cea-8ea8-2b89373c877d",
                "udi": null,
                "values": [
                  {
                    "alias": "brandName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      "Fossil Group"
                    ]
                  },
                  {
                    "alias": "brandLogo",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "8dc1aab2-94b0-450f-8476-9b1a50c3414d",
                        "mediaKey": "6a84b29c-517a-4518-933d-d493372e543b",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a0855937-b157-4f46-92ed-03b7300dc513",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ccb94987-624a-4f5b-b758-bcfb64649f59",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "1efbab63-130a-4967-95d8-5209c681aab0",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4fccfcee-ba03-402d-acf9-84c6c1456fc5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b9f7d8d4-2765-4a36-ad06-cc7c08944e82",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8e4b3f50-f55a-4cea-8ea8-2b89373c877d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a0855937-b157-4f46-92ed-03b7300dc513",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ccb94987-624a-4f5b-b758-bcfb64649f59",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "1efbab63-130a-4967-95d8-5209c681aab0",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4fccfcee-ba03-402d-acf9-84c6c1456fc5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b9f7d8d4-2765-4a36-ad06-cc7c08944e82",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8e4b3f50-f55a-4cea-8ea8-2b89373c877d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "a60c2437-4ca7-41a2-adf0-283be81b2b3c",
      "key": "5a6c4fd9-004b-4947-b20a-55ff42901b5c",
      "udi": null,
      "values": [
        {
          "alias": "mapNextProjectImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1ab0eadc-c0c3-47c2-94ab-ef3a75e01299",
              "mediaKey": "1409f971-873e-413f-a1d9-4e00ce87692f",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "mapNextProjectDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "mapNextProjectTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "mapNextProjectLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8c0ac5f7-aafa-4efa-a56d-24560468590e",
      "key": "f602154a-1343-451b-b959-cc623c2bd929",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "aae51480-0969-45cb-bdbc-c45a28783d18",
      "key": "081b74a3-88b7-419b-80b3-56e040a21c81",
      "udi": null,
      "values": [
        {
          "alias": "mapNextProjectFormOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Tax Planning\nFinancial Planning\nBusiness"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "24278c67-c102-46ce-984a-8c9ca8eafe3b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "28af3149-3ea8-4f63-9000-77c795011bfa",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5a6c4fd9-004b-4947-b20a-55ff42901b5c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "24278c67-c102-46ce-984a-8c9ca8eafe3b",
        "contentUdi": null,
        "settingsKey": "f602154a-1343-451b-b959-cc623c2bd929",
        "settingsUdi": null
      },
      {
        "contentKey": "5a6c4fd9-004b-4947-b20a-55ff42901b5c",
        "contentUdi": null,
        "settingsKey": "081b74a3-88b7-419b-80b3-56e040a21c81",
        "settingsUdi": null
      },
      {
        "contentKey": "28af3149-3ea8-4f63-9000-77c795011bfa",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>