<?xml version="1.0" encoding="utf-8"?>
<Content Key="382214a2-7199-46e3-9f89-9f43118c9378" Alias="Contact" Level="2">
  <Info>
    <Parent Key="71015e3b-ec08-4458-bafe-f9d27504d815">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T10:07:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29ed1a71-8bf9-427c-85d9-974619754ccb">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "5f2aaf5b-5bf9-4f03-ae2a-e0bd24df7a91",
      "key": "24278c67-c102-46ce-984a-8c9ca8eafe3b",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1030c4ea-4e68-49ca-bd97-343603d953f4",
              "mediaKey": "2e2f0403-65c1-4c7b-9b09-fd29cf0819fb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBgImageDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1ba195d3-ef72-435a-b83d-e130cf952ab5",
              "mediaKey": "78310360-5d8e-4267-b9ba-58cb3d712be8",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBgImageGreen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "38df87f9-dae6-4b13-9975-3f595c7f2c31",
              "mediaKey": "57c05bf5-13f2-4820-b48c-a2d1472a18ca",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "8c0ac5f7-aafa-4efa-a56d-24560468590e",
      "key": "f602154a-1343-451b-b959-cc623c2bd929",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "24278c67-c102-46ce-984a-8c9ca8eafe3b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "24278c67-c102-46ce-984a-8c9ca8eafe3b",
        "contentUdi": null,
        "settingsKey": "f602154a-1343-451b-b959-cc623c2bd929",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>