<?xml version="1.0" encoding="utf-8"?>
<Content Key="382214a2-7199-46e3-9f89-9f43118c9378" Alias="Contact" Level="2">
  <Info>
    <Parent Key="71015e3b-ec08-4458-bafe-f9d27504d815">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T10:07:24</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="29ed1a71-8bf9-427c-85d9-974619754ccb">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
  </Properties>
</Content>