<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e0d1a9e-7f37-4752-b9b7-3d83ec36a201" Alias="Financial Advisor" Level="3">
  <Info>
    <Parent Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74">Services</Parent>
    <Path>/Home/Services/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T14:42:15</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a080bf9-8890-4bdd-90dd-feffe47fbba7">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceBody>
      <Value><![CDATA[]]></Value>
    </serviceBody>
    <serviceCardImage>
      <Value><![CDATA[[
  {
    "key": "f706cb41-d926-41d5-94fc-495394d0498f",
    "mediaKey": "0c0e8e20-ea62-41a4-8287-2313ee1c238f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Financial Advisor]]></Value>
    </serviceCardTitle>
    <serviceDetailAsidesList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0cb53e0a-1f82-4695-abba-0e144d377682",
      "key": "6d9cc5b9-20b6-4791-afe6-535f5382271e",
      "udi": null,
      "values": [
        {
          "alias": "asideSupportCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "asideSupportCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/, we are here to help you"
        },
        {
          "alias": "asideSupportCardBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "f77c298a-bb57-4fb2-9821-aa22d1f12912",
              "mediaKey": "c48c97d6-1be9-4431-8933-e531d2daa9ee",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "26a65dfc-2c50-4200-89af-091151e3da0f",
      "key": "34307ea7-809d-4b33-b485-3e90e19226e9",
      "udi": null,
      "values": [
        {
          "alias": "asideInfoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "asideInfoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "asideInfoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3c469d9d-a501-425a-a5e0-aefa2988e7db",
              "mediaKey": "dd51bfba-03e2-4289-a579-56117a6a9cc6",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6d9cc5b9-20b6-4791-afe6-535f5382271e",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "34307ea7-809d-4b33-b485-3e90e19226e9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "34307ea7-809d-4b33-b485-3e90e19226e9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6d9cc5b9-20b6-4791-afe6-535f5382271e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsidesList>
  </Properties>
</Content>