<?xml version="1.0" encoding="utf-8"?>
<Content Key="71015e3b-ec08-4458-bafe-f9d27504d815" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-28T12:13:57</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="559597c8-3d58-417a-a741-e79ba559c315">HomePage</Template>
  </Info>
  <Properties>
    <heroTitle>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroTitle>
  </Properties>
</Content>