<?xml version="1.0" encoding="utf-8"?>
<Content Key="e4633643-8c28-45dd-9863-8dc13abb83c1" Alias="Question Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/QuestionFormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>questionFormSubmissions</ContentType>
    <CreateDate>2025-11-10T15:44:24</CreateDate>
    <NodeName Default="Question Form Submissions" />
    <SortOrder>3</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>