<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b887dbc-bad3-4af7-9261-006d2a54ef36" Alias="Risk Management" Level="3">
  <Info>
    <Parent Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74">Services</Parent>
    <Path>/Home/Services/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T14:39:53</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a080bf9-8890-4bdd-90dd-feffe47fbba7">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceBody>
      <Value><![CDATA[]]></Value>
    </serviceBody>
    <serviceCardImage>
      <Value><![CDATA[[
  {
    "key": "5064bf82-4452-49f8-aac7-f3fa3e210ba5",
    "mediaKey": "1f8b1c14-c8e9-4b98-bdcb-563137001670",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Risk Management]]></Value>
    </serviceCardTitle>
  </Properties>
</Content>