<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74" Alias="Services" Level="2">
  <Info>
    <Parent Key="71015e3b-ec08-4458-bafe-f9d27504d815">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T12:01:04</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84b9fc62-2330-412d-9f90-2c460c0e07a1">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d317e0de-7a06-4848-b9f4-4a390d1a856e",
      "key": "18aed330-1031-4d2f-b8f0-4c23bcc69d3b",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "5f2aaf5b-5bf9-4f03-ae2a-e0bd24df7a91",
      "key": "416536d6-8f07-4bdd-b0a4-d5a5243b342e",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "65f28397-2b5a-4ac4-a126-4b68a4af869f",
              "mediaKey": "2e2f0403-65c1-4c7b-9b09-fd29cf0819fb",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBgImageDots",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c5ab81b9-e30b-4317-b780-24b58a8bdecc",
              "mediaKey": "78310360-5d8e-4267-b9ba-58cb3d712be8",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoBgImageGreen",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c9381c5a-9370-4dbb-b444-4dda6278af0c",
              "mediaKey": "57c05bf5-13f2-4820-b48c-a2d1472a18ca",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cc38af1d-6e86-496d-9a0a-dae44880c1cc",
      "key": "c3e9e3b2-e8d7-48a3-b00c-2de596b6a771",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    },
    {
      "contentTypeKey": "8c0ac5f7-aafa-4efa-a56d-24560468590e",
      "key": "1de12290-6c20-40ce-9892-e4bd1e85828c",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white-100",
            "value": "#f7f7f7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "18aed330-1031-4d2f-b8f0-4c23bcc69d3b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "416536d6-8f07-4bdd-b0a4-d5a5243b342e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "18aed330-1031-4d2f-b8f0-4c23bcc69d3b",
        "contentUdi": null,
        "settingsKey": "c3e9e3b2-e8d7-48a3-b00c-2de596b6a771",
        "settingsUdi": null
      },
      {
        "contentKey": "416536d6-8f07-4bdd-b0a4-d5a5243b342e",
        "contentUdi": null,
        "settingsKey": "1de12290-6c20-40ce-9892-e4bd1e85828c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>