<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcb9c0b8-49cc-44f4-9648-f0c495bd2033" Alias="Service Page" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ServicePage</Path>
    <Trashed Parent="71015e3b-ec08-4458-bafe-f9d27504d815">true</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-31T11:14:07</CreateDate>
    <NodeName Default="Service Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84b9fc62-2330-412d-9f90-2c460c0e07a1">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d317e0de-7a06-4848-b9f4-4a390d1a856e",
      "key": "0ba548a4-8f11-4036-a7d7-45297222fbf9",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003C/p\u003E\u003Cp class=\u0022text-rte-lg font-bold\u0022 style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022text-primary\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cc38af1d-6e86-496d-9a0a-dae44880c1cc",
      "key": "e5f696b8-ff6b-4647-894e-24766e3405e3",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "0ba548a4-8f11-4036-a7d7-45297222fbf9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0ba548a4-8f11-4036-a7d7-45297222fbf9",
        "contentUdi": null,
        "settingsKey": "e5f696b8-ff6b-4647-894e-24766e3405e3",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>