<?xml version="1.0" encoding="utf-8"?>
<Content Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74" Alias="Services" Level="2">
  <Info>
    <Parent Key="71015e3b-ec08-4458-bafe-f9d27504d815">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T12:01:04</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="84b9fc62-2330-412d-9f90-2c460c0e07a1">ServicePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d317e0de-7a06-4848-b9f4-4a390d1a856e",
      "key": "18aed330-1031-4d2f-b8f0-4c23bcc69d3b",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions\u003Cbr\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "cc38af1d-6e86-496d-9a0a-dae44880c1cc",
      "key": "c3e9e3b2-e8d7-48a3-b00c-2de596b6a771",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "white",
            "value": "#ffffff"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "18aed330-1031-4d2f-b8f0-4c23bcc69d3b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "18aed330-1031-4d2f-b8f0-4c23bcc69d3b",
        "contentUdi": null,
        "settingsKey": "c3e9e3b2-e8d7-48a3-b00c-2de596b6a771",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>