<?xml version="1.0" encoding="utf-8"?>
<Content Key="33217dc5-0fa8-4f73-8f75-b567fef2e6d4" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-30T15:35:59</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmailAddress>
    <contactPhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhoneNumber>
    <copyrightNoticeCompany>
      <Value><![CDATA[Themesflat]]></Value>
    </copyrightNoticeCompany>
    <copyrightNoticeText>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to ]]></Value>
    </copyrightNoticeText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "22d551c0-3793-4cae-96f8-0212264c7706",
      "key": "f7df40a7-bf3a-480f-b41d-24c0430216cd",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "22d551c0-3793-4cae-96f8-0212264c7706",
      "key": "5efbba2e-22cc-4c6b-9311-73b32f18ee1f",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://twitter.com"
        }
      ]
    },
    {
      "contentTypeKey": "22d551c0-3793-4cae-96f8-0212264c7706",
      "key": "cfbae414-731a-421d-9812-b73672d6d2f9",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "LinkedIn"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f7df40a7-bf3a-480f-b41d-24c0430216cd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5efbba2e-22cc-4c6b-9311-73b32f18ee1f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "cfbae414-731a-421d-9812-b73672d6d2f9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f7df40a7-bf3a-480f-b41d-24c0430216cd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5efbba2e-22cc-4c6b-9311-73b32f18ee1f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "cfbae414-731a-421d-9812-b73672d6d2f9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "7ea73b2c-50e0-431f-bc16-9dbc72255268",
    "mediaKey": "9a180088-769c-43b3-8ccc-e68a68b86544",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>