<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c84240c-1861-4e95-8ec9-13f9b2de9d05" Alias="Statistic Advisors" Level="3">
  <Info>
    <Parent Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74">Services</Parent>
    <Path>/Home/Services/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T14:42:35</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a080bf9-8890-4bdd-90dd-feffe47fbba7">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceBody>
      <Value><![CDATA[]]></Value>
    </serviceBody>
    <serviceCardImage>
      <Value><![CDATA[[
  {
    "key": "a6b3825f-8a39-4644-9b2c-c96cbc849709",
    "mediaKey": "dd51bfba-03e2-4289-a579-56117a6a9cc6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </serviceCardTitle>
    <serviceDetailAsidesList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0cb53e0a-1f82-4695-abba-0e144d377682",
      "key": "e1194a70-f6f3-40dc-b8cc-be6753c77267",
      "udi": null,
      "values": [
        {
          "alias": "asideSupportCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "asideSupportCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/, we are here to help you"
        },
        {
          "alias": "asideSupportCardBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e90728b6-107e-4646-a50c-587e8d9700e3",
              "mediaKey": "c48c97d6-1be9-4431-8933-e531d2daa9ee",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "26a65dfc-2c50-4200-89af-091151e3da0f",
      "key": "480311e7-1fbb-481c-9bb3-3e6d0775f635",
      "udi": null,
      "values": [
        {
          "alias": "asideInfoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "asideInfoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "asideInfoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "751fb5e0-20a2-4f8f-83b8-0140fe778600",
              "mediaKey": "dd51bfba-03e2-4289-a579-56117a6a9cc6",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e1194a70-f6f3-40dc-b8cc-be6753c77267",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "480311e7-1fbb-481c-9bb3-3e6d0775f635",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "480311e7-1fbb-481c-9bb3-3e6d0775f635",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e1194a70-f6f3-40dc-b8cc-be6753c77267",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsidesList>
  </Properties>
</Content>