<?xml version="1.0" encoding="utf-8"?>
<Content Key="c58b4d72-60bf-437f-a0c9-4096ae0d2005" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T14:41:49</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a080bf9-8890-4bdd-90dd-feffe47fbba7">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceBody>
      <Value><![CDATA[]]></Value>
    </serviceBody>
    <serviceCardImage>
      <Value><![CDATA[[
  {
    "key": "07e09e15-fcfa-4eb0-89f5-34f64d2c717a",
    "mediaKey": "699243e5-5351-43e6-a48f-87d69f96b350",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceCardTitle>
    <serviceDetailAsidesList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0cb53e0a-1f82-4695-abba-0e144d377682",
      "key": "ffd8f164-7465-4cc5-adfb-a78c236140bf",
      "udi": null,
      "values": [
        {
          "alias": "asideSupportCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "How can we help you?"
        },
        {
          "alias": "asideSupportCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "online support 24/, we are here to help you"
        },
        {
          "alias": "asideSupportCardBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c6fe8941-6762-488f-92c2-062f9ac8c4ef",
              "mediaKey": "c48c97d6-1be9-4431-8933-e531d2daa9ee",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "26a65dfc-2c50-4200-89af-091151e3da0f",
      "key": "5a8f7333-7c09-4f69-a627-f91bf5ed404c",
      "udi": null,
      "values": [
        {
          "alias": "asideInfoCardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "About us"
        },
        {
          "alias": "asideInfoCardText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non "
        },
        {
          "alias": "asideInfoCardImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "0f53dd29-c6ca-4511-ab8e-0492b5c01d05",
              "mediaKey": "dd51bfba-03e2-4289-a579-56117a6a9cc6",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ffd8f164-7465-4cc5-adfb-a78c236140bf",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5a8f7333-7c09-4f69-a627-f91bf5ed404c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5a8f7333-7c09-4f69-a627-f91bf5ed404c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ffd8f164-7465-4cc5-adfb-a78c236140bf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceDetailAsidesList>
  </Properties>
</Content>