<?xml version="1.0" encoding="utf-8"?>
<Content Key="c58b4d72-60bf-437f-a0c9-4096ae0d2005" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="0f03779e-c466-44ad-a67b-d11fd2c7bb74">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2025-10-29T14:41:49</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a080bf9-8890-4bdd-90dd-feffe47fbba7">ServiceDetail</Template>
  </Info>
  <Properties>
    <serviceBody>
      <Value><![CDATA[]]></Value>
    </serviceBody>
    <serviceCardImage>
      <Value><![CDATA[[
  {
    "key": "07e09e15-fcfa-4eb0-89f5-34f64d2c717a",
    "mediaKey": "699243e5-5351-43e6-a48f-87d69f96b350",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </serviceCardImage>
    <serviceCardText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </serviceCardText>
    <serviceCardTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </serviceCardTitle>
  </Properties>
</Content>