@import "tailwindcss";
@import "./forms.css";

@theme {
    --color-neutral: #ffffff;
    --color-white: #F2EDDC;
    --color-white-100: #F7F7F7;
    --color-dark: #0E0E0E;
    --color-primary: #4F5955;
    --color-primary-dark: hsl(156, 6%, 23%);
    --color-main-light: #606966;
    --color-accent: #F2EDDC;
    --color-secondary: #D9C3A9;
    --color-gray-400: #4B5264;
    --color-body-text: #535656;
    --color-body-text-100: #999999;
    --color-note1: #9C9EA6;
    --color-border-gray: #EAEAEA;
    --color-border-400: #C7C8C9;
    --color-support-card: #C4C4C4;
    --font-poppins: "poppins", sans-serif;
    --text-rte-xl: 4.375rem;
    --text-rte-lg: 2.5rem;
    --text-rte-md: 1.25rem;
    --text-rte-sm: 1rem;
    --text-rte-xs: .875rem;
    /*    --text-vad: clamp(1rem, 0.4718rem + 2.1127vw, 2.5rem); Lägg sedan till där du vill ha den*/
}


body {
    @apply font-poppins;
}

.wrapper {
    @apply max-w-7xl mx-auto px-4;
}

.rte p {
    @apply mb-4;
}

.rte-service-detail img {
    @apply w-full h-auto object-cover mb-8;
}

.rte h3 {
    @apply text-[2.5rem] text-primary font-bold;
}

.rte-ul {
    @apply list-disc pl-5 mt-3;
}

    .rte-ul li {
        @apply text-rte-xs text-body-text mb-3;
    }

        .rte-ul li::marker {
            @apply text-secondary;
        }

.current a {
    @apply text-secondary;
}




