@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
}

<partial name="Partials/Layout/_PageBanner" model="(IPageBanner)Model" />

<section class="py-16">
	<div class="wrapper grid grid-cols-12 gap-8">

		<aside class="col-span-3 hidden md:grid">
			@Html.GetBlockListHtml(Model.ServiceDetailAsidesList)
		</aside>

		<div class="col-span-1 w-px bg-border-gray hidden md:block"></div>

		<div class="col-span-8 grid gap-2 w-full">
			<div class="rte rte-service-detail">@Html.Raw(Model.ServiceBody)</div>
		</div>

	</div>

	@Html.GetBlockListHtml(Model.Sections)
</section>