@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ServiceDetail>
@{
	Layout = "mainLayout.cshtml";
}

<partial name="Partials/Layout/_Topbar" />

<section class="py-16">
	<div class="wrapper grid grid-cols-12 gap-8">

		<aside class="col-span-3 hidden md:grid">
			@Html.GetBlockListHtml(Model.ServiceDetailAsidesList)
		</aside>

		<div class="col-span-1 block w-px bg-border-gray"></div>

		<div class="col-span-8 grid gap-2 w-full">
			<div class="rte">@Html.Raw(Model.ServiceBody)</div>
		</div>

	</div>
</section>