@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.Brand)Model.Content;
}

<div>
    @if (content.BrandLogo != null)
    {
        <img src="@content.BrandLogo.Url()" class="shrink-0" />
    }
</div>
