@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco_Project.ViewModels
@{
    var content = (ContentModels.QuestionFormSection)Model.Content;

    var formVM = new QuestionFormViewModel();
}


<section class="py-16">
    <div class="wrapper">
        <p class="text-primary font-bold text-[1rem] mb-4 md:text-[1.5625rem]">@content.QuestionFormTitle</p>

        <partial name="Partials/Forms/_QuestionForm" model="formVM" />
    </div> 
</section>