@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco_Project.ViewModels
@{
    var content = (ContentModels.QuestionFormSection)Model.Content;

    var formVM = new QuestionFormViewModel();
}


<section class="py-16">
    <div class="wrapper">
        <p class="text-primary font-bold text-[1rem] mb-4 md:text-[1.5625rem]">@content.QuestionFormTitle</p>

        <partial name="Partials/Forms/_QuestionForm" model="formVM" />

        @if (TempData["QuestionFormSuccess"] != null)
        {
            <div class="bg-green-50 text-green-700 p-4 mx-[2rem] mb-4 rounded-md">
                @TempData["QuestionFormSuccess"]
            </div>
        }
        else if (TempData["QuestionFormError"] != null)
        {
            <div class="bg-red-50 text-red-700 p-4 mx-[2rem] mb-4 rounded-md">
                @TempData["QuestionFormError"]
            </div>
        }
    </div> 
</section>