@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SuccessStoryStatisticItem)Model.Content;
}

<div class="flex flex gap-2 items-center">
    <p class="text-[6.25rem] text-secondary font-semibold text-center"></p>
    <p class="text-[1.125rem] text-white font-semibold text-center"></p>
</div>
