@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SuccessStorySection)Model.Content;
    var statisticsList = content.SuccessStorySectionStatisticsList;
}

<section class="relative py-20">
    
    <div class="absolute inset-x-0 top-0 h-[80%] bg-primary -z-20"></div>

    <div class="wrapper relative flex flex-col items-center gap-10 z-10">

        <div class="absolute inset-x-0 top-4 -z-10">
            @if (content.SuccessStorySectionBgImage != null)
            {
                <img src="@content.SuccessStorySectionBgImage.Url()" class="w-full h-full object-cover" />
            }
        </div>

        <div class="flex flex-col items-center">
            <div>@Html.Raw(content.SuccessStorySectionLabel)</div>
            <h2 class="text-white font-bold text-[2.5rem] text-center">@content.SuccessStorySectionTitle</h2>
        </div>

        <div class="flex">
            @if (statisticsList != null)
            {
                for (var i = 0; i < statisticsList.Count; i++)
                {
                    var listItem = statisticsList[i];

                    <div class="w-1/3 px-4">
                        <partial name="Partials/Blocklist/Components/SuccessStoryStatisticItem" model="listItem" />
                    </div>
                }
            }
        </div>

        <div class="mt-10">
            @if (content.SuccessStorySectionImage != null)
            {
                <img src="@content.SuccessStorySectionImage.Url()" />
            }
        </div>
    </div>
</section>

