@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SwebankReviewSection)Model.Content;
   
}

<section class="py-4 md:py-8 lg:py-0 bg-white-100 flex">

    <div class="lg:w-1/2 bg-white-100 mx-auto px-4 md:px-4 lg:px-0">
        <div class="rte rte-swebank-review text-center pt-8 lg:w-full lg:text-left lg:px-12 xl:px-24">@Html.Raw(content.SwebankReviewBodyText)</div>
    </div>

    <div class="hidden lg:block lg:w-1/2">
        @if (content.SwebankReviewImage != null)
        {
            <img src="@content.SwebankReviewImage.Url()" class="object-cover h-full shrink-0" />
        }    
    </div>

</section>






